/*
=============== 
Variables
===============
*/
:root {
  --clr-white: #fff;
  --clr-green: #00ab63;
  --clr-darkgreen: #008b57;
  --clr-darkgray: #2e3742;
  --clr-mediumgray: #6e7e90;
  --clr-darkgray2: #45505e;
  --clr-mediumgray2: #8c9cad;
  --radius: 8px;
  --shadow: drop-shadow(0px 8px 4px rgba(13, 17, 27, 0.08));
  --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;

  background: url('./assets/Mask.svg') no-repeat right top;
  height: 100vh;
}
a {
  text-decoration: none;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  color: var(--clr-darkgray);
}

p {
  font-weight: 400;
  font-size: 14px;
}

.btn {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  background: var(--clr-mediumgray2);
  color: var(--clr-white);
  padding: 16px;
  letter-spacing: 0.8px;
  font-weight: 500;
  transition: var(--transition);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 8px 4px rgba(13, 17, 27, 0.08);
  border-radius: var(--radius);
  border: 1px solid #008b57;
}
.active {
  background: var(--clr-green);
}
.btn:hover,
active:hover {
  background: var(--clr-darkgreen);
}
